<div
  id="backG"
  class="container d-flex align-items-center justify-content-center"
>
  <form
    #form="ngForm"
    class="px-3 py-4 rounded-3 text-white"
    (ngSubmit)="accedi(form)"
  >
    <h1 class="text-center">Log-in</h1>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        class="form-control"
        ngModel
      />
    </div>
    <div class="form-group mt-2">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        class="form-control"
        ngModel
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-4 w-100"
      [disabled]="form.invalid"
    >
      Accedi
    </button>
  </form>
</div>
