<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            [routerLink]="['/']"
            routerLinkActive="active"
            *ngIf="utente"
            [routerLinkActiveOptions]="{ exact: true }"
            >Utente</a
          >
        </li>
        <li class="nav-item" *ngIf="utente">
          <a
            class="nav-link"
            [routerLink]="['/films']"
            routerLinkActive="active"
            >Films</a
          >
        </li>
        <li class="nav-item" *ngIf="!utente">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!utente">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            routerLinkActive="active"
            >Registrati</a
          >
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <h6 class="ma-auto d-inline me-3" *ngIf="utente">
          Benvenuto {{ utente.user.nome }}!
        </h6>
        <button
          type="button"
          class="btn btn-danger ms-2 float-end"
          *ngIf="utente"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
